* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 360px;
    height: 360px; 
    margin: auto;
    border: 1px solid black;
    background-color: aqua;
     display: flex;
  flex-wrap: wrap; 
}

.grid {
    border: 1px solid black;
    background-color: rgb(250, 235, 215);
}
#gridButton {
  display: flex;
  justify-content: center;
  
  height: 20px;
  width: 100px;
  margin: 70px auto 100px
}